commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
  01-optimize:
    command: "cd app && /usr/bin/composer.phar update"
  04-config_environment:  
    command: "mv /var/app/ondeck/app/.env.elasticbeanstalk /var/app/ondeck/app/.env"
