#addComment {
    margin-top: 10px;
}

#addComment  .form-group{
    display: inline-block;
    margin-bottom: 0px;
    width : calc(100% - 90px);
}
#addComment  .submit{
    display: inline-block;
    float:right;
    width : 80px;
}

/* チャットレイアウト */
.comment {
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    line-height: 24px;
    position: relative;
}
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-face {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
}
.chat-face img{
    background-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-fukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    margin-left: 40px;
    margin-top: 0px;
    width: 80%;
}

.chat-menu{
    display: inline-block;
    position: absolute;
    right: 0px;
    top:10px;
}