body {
    font-family: sans-serif
}

.flex-container {
    display: flex;
}

.select-button-box {
    margin-bottom: 0.5em;
}

.memo {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#time-range {
    /*float: right;*/
    /*width: 70%;*/
    text-align: center;
}

#time-range input {
    width: 250px;
    text-align: center;
}

.infowin {
    line-height: 18px;
}

.infowin ul{
    margin: 0 auto; 
}

#water_filter{
    /*float: left;*/
    /*width: 30%;*/
    text-align: left;
    position: relative;
    overflow: auto;
}
#filter_options{
    overflow: visible;
    margin: 10px;
}

.owl-carousel .item {
    text-align: center;
    padding: 7px;
    background-color: #cccccc;
    color: black;
    /*font-weight: bold;*/
    line-height: 15px;
    font-size: 11px;
    height: 44px;
}

.owl-carousel .item a {
    color: black;
}


#slider-range {
    margin-right: 10px;
    margin-top: 10px;
}

#slider-range .ui-slider-range {
    background: #F79B30;
}

#slider-range .ui-slider-handle {
    border-color: #c0c0c0;
    background: #F79B30;
    border-radius: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.ui-slider-horizontal {
    height: 0.3em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}


#water_filter div{
    float: left;
    margin: 2px;
}

#rousui_chk .onoffswitch-inner:before {
    content: "のら猫";
    background-color: #73CB4F;
}
#rousui_chk .onoffswitch-inner:after {
    content: "のら猫";
}

#no_chk .onoffswitch-inner:before {
    content: "出ない";
    background-color: #D0021B;
}
#no_chk .onoffswitch-inner:after {
    content: "出ない";
}

#ok_chk .onoffswitch-inner:before {
    content: "出る";
    background-color: #164B8A;
}
#ok_chk .onoffswitch-inner:after {
    content: "出る";
}

#go_chk .onoffswitch-inner:before {
    content: "提供可能";
    background-color: #F5A623;
}
#go_chk .onoffswitch-inner:after {
    content: "提供可能";
}

#notdrink_chk .onoffswitch-inner:before {
    content: "飲めない";
    background-color: #939393;
}
#notdrink_chk .onoffswitch-inner:after {
    content: "飲めない";
}

