DB_HOST=[[DB Host Name]]
DB_DATABASE=[[DB Name]]
DB_USERNAME=[[DB User Name]]
DB_PASSWORD=[[DB Password]]
DB_PORT=[[DB Port]]
AWS_BUCKET_NAME=[[AWS S3 Bucket Name]]
AWS_BUCKET_REGION=[[AWS S3 Region]]
AWS_BUCKET_KEY=[[AWS key]]
AWS_BUCKET_SECRET=[[AWS Secret Key]]
AWS_BUCKET_VERSION=latest
