<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    /    [L]
    RewriteRule    (.*) /$1    [L]
</IfModule>

php_value memory_limit 40M
php_value post_max_size 32M
php_value upload_max_filesize 32M
